<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>CodeBlog-Post</title>
<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

</head>
<body>
	<header>
		<!-- Navbar -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">Gaia</a>
		</nav>
	</header>
	<section>
		<div class="container" style="width: 60%; padding-bottom: 30px;">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
					<li class="breadcrumb-item active" aria-current="page">Posts</li>
				</ol>
			</nav>
			<div class="card shadow-sm bg-white rounded"
				style="margin-top: 20px;" th:each="post: ${posts}">
				<div class="card-body">
				<p class="card-subtitle mb-2 text-muted" style="font-size:0.8rem;">
				<span th:text="${post.autor}"></span>
				<span th:text="${post.data}"></span>
				</p>
				
				
				<a href="#"><h4 class="card-title" style="font-weight: bold; color:black; padding-top: 5px;"> 
				<span th:text="${post.titulo}"></span>
				</h4></a>
				
				<p class="card-text">
				<span th:utext="${#strings.abbreviate(post.texto,400)}"></span>
				</p>
				</div>
			</div>
		</div>
	</section>
</html>